body{
background-color: #222222;
color: white;
}
.top {
  height: 110px;
  width: 100vw;
 float: center;

 flex-direction: row;
 text-align: center;
}
.videorOgBilder {
  display: flex;
  height: 350px;
  width: 100vw;
 float: center;

 flex-direction: row;
 text-align: center;
}

.videorOgBilder2 {
  display: flex;
 height: 350px;
 width: 500px;
 float: center;

 flex-direction: row;
 text-align: center;
}

.videorOgBilder3 {
  height: 350px;
  width: 32vw;
 float: center;

 flex-direction: row;
 text-align: center;
}
.alternativDiv1{
 display: flex;
 height: 35px;
 width: 100vw;
 float: center;

 flex-direction: row;
 text-align: center;

}
.alternativDiv2{
  color: white;
  height: 35px;
  width: 32vw;
 float: center;

 flex-direction: row;
 text-align: center;

}
.alternativDiv3{
  display: flex;
  color: white;
  height: 35px;
  width: 32vw;
 float: center;

 flex-direction: row;
 text-align: center;

}

.textDiv{
 color: white;
 height: 350px;
 width: 20vw;

}
.melomromDiv{
  height: 100px;
}
